.sidenav-container {
  height: 100%;

  background-color: rgba(128, 128, 128, 0.514);
}

.sidenav {
  width: 300px;

  border-radius: 0px;

  padding: 0 10px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
